
<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h1 class="margin">Codaisseurup</h1>
  <img src="<%=image_path('bird.png')%>" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
  <h3>The platform to create your own events</h3>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">What is codaisseurup?</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  <a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Search
  </a>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
  <h3 class="margin">How does it work?</h3><br>
  <div class="row">
    <% @photos.each do |photo| %>
      <div class="col-sm-4">
        <p><%=photo.event.description%></p>
        <%=image_tag photo.image, class: "img-responsive margin"%>
      </div>
    <%end%>
  </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>Bootstrap Theme Made By <a href="https://www.w3schools.com">www.w3schools.com</a></p>
</footer>
<!--class: img-responsive marginstyle="width:100%" alt="Image"-->
